        <footer>
            <div class="reside-info">
                <img src="" alt="">
                <p class="address"></p>
                <p class="contact"></p>
                <p class="email"></p>
            </div>

            <div class="quick-links">
                <h3></h3>
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Listings</a>
                <a href="">Services</a>
                <a href="">Blogs</a>
                <a href="">Become an agent</a>
            </div>

            <div class="discovery">
                <h3>Discovery</h3>
                <a href="">Lagos</a>
                <a href="">Kaduna</a>
                <a href="">Ogun</a>
                <a href="">Ibadan</a>
                <a href="">Cross-River</a>
                <a href="">Imo</a>
            </div>

            <div class="quick-links">
                <h3>Subscribe to our Newsletter!</h3>
                <div>
                    <input type="email" name="" id="">
                    <button type="submit"></button>
                </div>

                <div class="socials">
                    <p>Follow Us on</p>
                    <div class="socials-icon">
                        
                    </div>
                </div>
            </div>
        </footer>
        
        
        
        </div>
    </body>
</html>