        <footer>
            <div class="foot">
                <div class="reside-info">
                    <img src="/assets/logo.png" alt="" class="bottom-logo">
                    <div class="address">
                        <p>
                            2728 Hickory StreetSalt
                            Lake City, UT 84104
                        </p>
                    </div>

                    <div class="contact">
                        <img src="/assets/icon-phone-LAP.png" alt="">
                        <p>+1 206-214-2298</p>
                    </div>

                    <div class="email">
                        <img src="/assets/icon-mail-TXZ.png" alt="">
                        <p>support@rezilla.com</p>
                    </div>
                </div>

                <div class="bottom-links quick-links">
                    <p class="foot-header">Quick Links</p>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Listings</a>
                    <a href="">Services</a>
                    <a href="">Blogs</a>
                    <a href="">Become an agent</a>
                </div>

                <div class="bottom-links discovery">
                    <p class="foot-header">Discovery</p>
                    <a href="">Lagos</a>
                    <a href="">Kaduna</a>
                    <a href="">Ogun</a>
                    <a href="">Ibadan</a>
                    <a href="">Cross-River</a>
                    <a href="">Imo</a>
                </div>

                <div class="bottom-links subscribe">
                    <p class="foot-header">Subscribe to our <br> Newsletter!</p>
                    <div class="bottom-input">
                        <input type="email" name="" id="" placeholder="Email Address">
                        <a href=""><img src="/assets/auto-group-fxxb.png" alt=""></a>
                    </div>

                    <div class="socials">
                        <p class="foot-header">Follow Us on</p>
                        <div class="socials-icon">
                            <a href=""><img src="/assets/icon-linkedin-in-4dh.png" alt=""></a>
                            <a href=""><img src="/assets/icon-facebook-f.png" alt="" class="fb"></a>
                            <a href=""><img src="/assets/icon-instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="right">
                    <p>© Re-Side – All rights reserved</p>
                </div>

                <div class="terms">
                    <a href="">Terms and Conditions</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Disclaimer</a>
                </div>
            </div>

        </footer>
        
        </div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false
                },
                loop: true,
            
                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
                clickable: true,
                },
            
                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },
            
            });

            const swiper2 = new Swiper('.mySwiper-2', {
                slidePreview: 4,

                scrollbar: {
                    el: ".swiper-scrollbar",
                    hide: true
                }
            })
        </script>
    </body>
</html>