<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Re-Side</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
 <div class="main-container">
    <nav>
        <ul class="links">
            <li><a href="">Home</a></li>
            <li><a href="/auth/about">About</a></li>
            <li><a href="">Listings</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Blogs</a></li>
        </ul>

        <div class="logo">
            <img src="/assets/logo.png" alt="Re-Side Logo"/>
        </div>

        <div class="account">
            <div class="login">
                <% if (isAuthenticated) { %>
                    <div class="dropdown">
                        <button>
                            <img src="/assets/icon-user-circle-alt.png" alt="">
                            <a href="/profile"><%= fullName %></a>
                        </button>
                        <div class="dropdown-content">
                            <a href="/auth/dashboard">Dashboard</a>
                            <a href="/auth/logout">Logout</a>
                        </div>
                    </div>
                <% } else { %>
                    <button>
                        <img src="/assets/icon-user-circle-alt.png" alt="">
                        <a href="/auth/login">Login/Register</a>
                    </button>
                <% } %>
            </div>
            <div class="add-btn">
                <button class="add-list" onclick="location.href='/auth/addListingForm'">
                    <img src="/assets/reshot-icon-house-xj53qbrvtc-1.png" alt="">
                    <span class="text">Add Listing</span>
                </button>
            </div>
        </div>
    </nav>

