<%- include('partials/header', { fullName: fullName }) %>

    <div class="addLisitng">
        <div class="addForm-container">
            <div>
                <h1>ADD NEW PROPERTY</h1>
            </div>
            
            <div>
                <form action="/auth/submitProperty" method="POST" enctype="multipart/form-data">
                    <div class="form-item">
                        <label for="propertyType">Property Type:</label><br>
                        <select id="propertyType" name="propertyType">
                            <option value="" selected disabled hidden>Select Type</option>
                            <option value="house">House</option>
                            <option value="apartment">Apartment</option>
                            <option value="condo">Condo</option>
                        </select>
                    </div>
                    
                    <div class="form-item">
                        <label for="address">Address:</label><br>
                        <input type="text" id="address" name="address" required>
                    </div>
    
                    <div class="form-item">
                        <label for="city">City:</label><br>
                        <input type="text" id="city" name="city" required>
                    </div>
    
                    <div class="form-item">
                        <label for="state">State:</label><br>
                        <input type="text" id="state" name="state" required>
                    </div>
    
                    <div class="form-item">
                        <label for="price">Price:</label><br>
                        <input type="number" id="price" name="price" required>
                    </div>
    
                    <div class="form-item file-upload">
                        <span>Photos:</span><br>
                        <label for="">
                            <input type="file" id="photos" name="photos" multiple>
                        </label>
                    </div>
    
                    <div class="form-item">
                        <label for="description">Description:</label><br>
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>
                    </div><br>
    
                    <div class="form-item">
                        <label for="numberOfBedrooms">Number Of Bedrooms:</label><br>
                        <input type="number" name="numberOfBedrooms" id="numberOfBedrooms">
                    </div>
    
                    <div class="form-item">
                        <label for="numberOfBathrooms">Number Of Bathrooms:</label><br>
                        <input type="number" name="numberOfBathrooms" id="numberOfBathrooms">
                    </div>
    
                    <h3>Contact Info</h3>
    
                    <div class="form-item">
                        <label for="contactName">Contact Name:</label><br>
                        <input type="text" name="contactNam" id="contactNam" required>
                    </div>
    
                    <div class="form-item">
                        <label for="contactEmail">Contact Email:</label><br>
                        <input type="text" name="contactEmail" id="contactEmail" required>
                    </div>
    
                    <div class="form-item">
                        <label for="contactPhoneNumber">Contact Number:</label><br>
                        <input type="number" name="contactPhoneNumber" id="contactPhoneNumber" required>
                    </div>
    
                    <button type="submit">Add Property</button>
                </form>
            </div>
            
        </div>
    </div>

<%- include('partials/footer') -%>