<%- include('partials/header') -%>

<div class="display-1">
    <div class="show">
        <p class="head-1">REAL ESTATE</p>
        <h1>Find a perfect home you love..!</h1>
        <h4>
            Explore our curated collection of premier properties, from urban retreats to serene countryside estates. Begin your journey to homeownership with us. Your dream home awaits!
        </h4>
        <img src="/assets/group-3.png" alt="" class="icon-right">
        <img src="/assets/group-4.png" alt="" class="icon-left">
        <img src="/assets/luxury-classic-modern-bedroom-suite-hotel-1.png" alt="" class="display-img">
        <img src="/assets/ellipse-9.png" alt="" class="ellipse-9">
    </div>

    <div class="search">
        <div class="form-container">
            <div class="head-2">
                <a href="">For sale</a>
                <a href="">For rent</a>
            </div>
            <form action="">
                <input type="search" name="" id="" placeholder="Ikoyi, Lagos, etc">
                <select name="type" id="" class="type" required>
                    <option value="" selected disabled hidden>Select Property Type</option>
                    <option value="">For Sale</option>
                    <option value="">For Rent</option>
                </select>
                <select name="rooms" id="" class="rooms" required>
                    <option value="" selected disabled hidden>Select Rooms</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4 & More</option>
                </select>
                <button type="submit">
                    <img src="/assets/icon-search-normal-1.png" alt="">
                    <span>Search</span>
                </button>
            </form>
        </div>
    </div>

    <!-- Customer & Counts -->
    <div class="customers">
        <div class="customers-images">
            <img src="/assets/ellipse-3-bg-5Du.png" alt="" class="cs-1">
            <img src="/assets/ellipse-5-bg-rdq.png" alt="" class="cs-2">
            <img src="/assets/ellipse-4-bg-9s9.png" alt="" class="cs-3">
            <img src="/assets/ellipse-6-bg-JMy.png" alt="" class="cs-4">
            <img src="/assets/ellipse-7-bg-ZaK.png" alt="" class="cs-5">
            <div class="last-img">
                <img src="/assets/ellipse-8-bg-Fe3.png" alt="" class="cs-6">
                <p>+</p>
            </div>
            <p class="happy">72k+ Happy <br> Customers</p>
        </div>

        <div class="listings-count">
            <img src="/assets/ellipse-3-bg-hDm.png" alt="">
            <p>200+ New <br>Listings Everyday!</p>
        </div>
    </div>

    <!-- Trustees -->
    <div class="trustees">
        <div class="head-3">
            <p>Trusted by 100+ Companies across the globe!</p>
        </div>
        <img src="/assets/ellipse-12.png" alt="" class="trustees-ball">
        
        <div class="trustees-logo">
            <div class="google"><img src="/assets/image-1-97y.png" alt=""></div>
            <div class="amazon"><img src="/assets/image-2-dVV.png" alt=""></div>
            <div class="logitech"><img src="/assets/image-3-E2X.png" alt=""></div>
            <div class="spotify"><img src="/assets/image-4-w7y.png" alt=""></div>
            <div class="samsung"><img src="/assets/image-5-6Z9.png" alt=""></div>
            <div class="netflix"><img src="/assets/image-6-JPu.png" alt=""></div>
        </div>
    </div>
</div>

<div class="waw">
    <div class="info">
        <div class="info-write">
            <h4>WHO ARE WE</h4>
            <h2>
                Assisting individuals in
                locating the appropriate real estate.
            </h2>
            <p>
                Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus. Nulla convallis ipsum molestie nibh malesuada, ac malesuada leo volutpat.
            </p>
        </div>

        <div class="info-cons">
            <div class="box-1">
                <img src="/assets/icon-smart-home.png" alt="">
                <div class="wifi">
                    <p class="head">Donec porttitor euismod</p>
                    <p class="waw-texts">
                        Nullam a lacinia ipsum, nec dignissim purus. Nulla
                    </p>
                </div>
            </div>
            
            <div class="box-2">
                <img src="/assets/icon-user-octagon.png" alt="">
                <div class="person">
                    <p class="head">Donec porttitor euismod</p>
                    <p class="waw-texts">
                        Nullam a lacinia ipsum, nec dignissim purus. Nulla
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="info-images">
        <img src="" alt="" class="rect-big">
        <img src="" alt="" class="square">
        <img src="" alt="" class="rect-small">
        <img class="ellipse-11-7v3" src="/assets/ellipse-11.png">
    </div>
</div>
</div>

<%- include('partials/footer') -%>