/* font-family: "Poppins", sans-serif;
font-family: "Source Code Pro", monospace; */

html {
    font-family: Poppins, 'Source Sans Pro';
}

* {
  margin: 0;
  padding: 0; 
}

ul, li {
  list-style: none; 
}

a {
    text-decoration: none;
}

input {
  border: none; 
}

nav {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 1rem;
}

.links a {
    padding: 0 10px;
    color: #0b090a;
}

nav .logo img {
    width: 90px;
}


/* Register/Login & Add listing Section*/
.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.account .login button img {
    margin-right: 5px;
    width: 17px;
}

.account .login button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.account .add-list {
    background-color: #3a0ba3;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.account .add-btn .text {
    flex: 1;
}

.account .add-list img {
    margin-right: 8px;
    width: 18px;
}

/* Display */
.display-1 {
    width: 90rem;
    height: 55.2rem;
    position: absolute;
    left: 0;
    top: 9%;
    background: linear-gradient(180deg, rgba(76, 201, 240, 0.3000000119) -0%, rgba(67, 97, 238, 0.3000000119) 100%);
    border-radius: 0 0 80rem 80rem;
}

.show {
    position: absolute;
    top: 7%;
    left: 8.1%;
}

.display-1 .show .head-1 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #4361ee;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    margin-bottom: 16px;
}

.display-1 .show h1 {
    max-width: 550px;
    font-size: 3.50rem;
    font-weight: 600;
    line-height: 1.1343804689;
    color: #0b090a;
    margin-bottom: 16px;
}

.display-1 .show h4 {
    max-width: 540px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
    margin-bottom: 5px;
}

.display-1 .show .display-img {
    width: 550px;
    border-radius: 20px;
}

.display-1 .show .icon-left {
    position: absolute;
    right: -5%;
    top: 65%;
    width: 50px;
}

.display-1 .show .icon-right {
    position: absolute;
    left: -5%;
    top: 65%;
    width: 50px;
}

.display-1 .show .ellipse-9 {
    position: absolute;
    top: 33.5%;
    left: 90%;
    width: 90px;
    z-index: -1;
}

/* Search Form */
.search {
    position: absolute;
    right: 15%;
    top: 12.5%;
}

.search .form-container {
    background: white;
    border-radius: 20px;
    width: 130%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1)
}

.search .form-container .head-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 10px 15px;
    border: 1px solid gray;
    border-radius: 20px 20px 0 0;
}

.search .form-container .head-2 a {
    color: #808080;
}

.search .form-container h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.search .form-container form {
    box-sizing: border-box;
    padding: 50px 5px 93px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.search .form-container input, select {
    font-size: 1.1rem;
    width: 340px;
    height: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
}

.search .form-container .type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/polygon-1.png') no-repeat right center; 
    background-size: 20px;
    padding: 10px 30px 10px 10px;
    font-size: 1.1rem;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
}

.search .form-container .rooms {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/polygon-1-8hZ.png') no-repeat right center;
    background-size: 20px;
    padding: 10px 30px 10px 10px;
    font-size: 1.1rem;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
}

.search .form-container form select:invalid, select option[value=''] {
    color: #757575;
}

.search .form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  width: 320px;
  border: none;
  border-radius: 38px;
  color: white;
  background-color: #3a0ba3;
  font-size: 1.2rem;
  cursor: pointer;
}

.search .form-container button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Customers count */
.customers {
    display: flex;
    align-items: center;
}

.customers-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 90%;
    left: 21%;
    width: 400px;
    height: 100px;
}

.customers .customers-images img {
    display: flex;
    width: 50px;
    height: 50px;
}

.customers .customers-images .cs-1 {
    position: absolute;
    left: 5%;
    border-radius: 50%;
}

.customers .customers-images .cs-2 {
    position: absolute;
    left: 12%;
    border-radius: 50%;
}

.customers .customers-images .cs-3 {
    position: absolute;
    left: 19%;
    border-radius: 50%;
}

.customers .customers-images .cs-4 {
    position: absolute;
    left: 26%;
    border-radius: 50%;
}

.customers .customers-images .cs-5 {
    position: absolute;
    left: 33%;
    border-radius: 50%;
}

.customers-images .last-img {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:50%;
    left: 45%;
}

.customers-images .last-img .cs-6 {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.8;
    background: black;
}

.customers-images .last-img p {
    position: absolute;
    color: white;
}

.customers-images .happy {
    font-size: 1.3rem;
    margin-left: 170px;
}

.listings-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 90%;
    left: 53%;
    width: 400px;
    height: 100px;
}

.listings-count img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.listings-count p {
    font-size: 1.3rem;
}

/* Trustees */
.trustees {
    position: absolute;
    top: 120%;
    left: 8.1%;
}

.trustees .head-3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #808080;
}

.trustees-ball {
    width: 150px;
    position: absolute;
    left: 4%;
    top: -65%;
}

.trustees .trustees-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.trustees .trustees-logo img {
    width: 130px;
}

/* What are we */
.waw {
    position: absolute;
    top: 175%;
    left: 8.1%;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
}

.info-write h4 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #4361ee;
    white-space: nowrap;
}

.info-write h2 {
    margin-bottom: 1.1rem;
    margin-top: 20px;
    max-width: 36rem;
    font-size: 2.58rem;
    font-weight: 600;
    line-height: 1.1809045453;
    color: #2b2b2b;
}

.info-write p {
    margin-bottom: 2.5rem;
    max-width: 35.1rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
}

.info-cons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.info-cons img {
    width: 50px;
}

.box-1, .box-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    max-width: 330px;
    padding: 10px 30px;
    border-radius: 3rem;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.0599999987);
}

.info-cons .head {
    margin-bottom: 0.4rem;
    font-size: 1.22rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4361ee;
}

.info-cons .waw-texts {
    max-width: 22.1rem;
    font-size: 1.02rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
}

.info-images {
    display: flex;
}

.info-images .rect-big {
    width: 270px;
    height: 525px;
    position: absolute;
    left: 105%;
    top: 10%;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.150000006);
    background-color: #d9d9d9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/rectangle-14-bg.png);
    border-radius: 3rem;
}

.info-images .square {
    width: 270px;
    height: 270px;
    position: absolute;
    right: -101%;
    top: 4%;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.150000006);
    background-color: #d9d9d9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/rectangle-15-bg.png);
    border-radius: 3rem;
}

.info-images .rect-small {
    width: 270px;
    height: 180px;
    position: absolute;
    right: -101%;
    top: 49%;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.150000006);
    background-color: #d9d9d9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/rectangle-16-bg.png);
    border-radius: 3rem;
}

.ellipse-11-7v3 {
    position: absolute;
    right: -80%;
    top: 72%;
    width: 90px;
}

/* Latest Properties */
.latest {
    position: absolute;
    top: 270%;
    left: 8.1%;
    padding-bottom: 90px;
}

.latest .headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.latest .headings .lastest-write h4 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #4361ee;
    white-space: nowrap;
}

.latest .headings .lastest-write h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 36rem;
    font-size: 2.58rem;
    font-weight: 600;
    line-height: 1.1809045453;
    color: #2b2b2b;
}

.latest .headings .lastest-write p {
    margin-bottom: 2.5rem;
    max-width: 32.1rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
}

.latest .headings .btns button {
    margin-right: 2rem;
    margin-bottom: 84px;
    box-sizing: border-box;
    padding: .7rem 1.7rem .7rem 1.7rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #3a0ca3;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #3a0ca3;
    background-color: #ffffff;
    border-radius: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.latest .headings .btns button:hover {
    background-color: #3a0ca3;
    color: white;
}

.house-listings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.house-listings .list .main-img {
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: #d9d9d9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -0%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
}

.house-listings .list-1 .main-img {
    background-image: url(../assets/rectangle-18-bg.png);
}
.house-listings .list-2 .main-img {
    background-image: url(../assets/rectangle-19-bg.png);
}
.house-listings .list-3 .main-img {
    background-image: url(../assets/rectangle-20-bg.png);
}
.house-listings .list-4 .main-img {
    background-image: url(../assets/rectangle-21-bg-JHH.png);
}

.house-listings .list .price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2b2b2b;
    margin-bottom: 5px;
}

.house-listings .list .name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #2b2b2b;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.house-listings .list .address {
    font-size: 0.9rem;
    font-weight: 400;
    color: #808080;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.house-listings .list .beds img {
    width: 20px;
}
.house-listings .list .bath img {
    width: 20px;
}

.house-listings .list .beds-bath a {
    margin-left: 28px;
    color: #3a0ba3;
}

/* Our Services */
.services {
    position: absolute;
    top: 370%;
    background: rgba(212, 212, 212, 0.3000000119);
    padding-bottom: 100px;
}

.services .service-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .service-head p {
    padding: 100px 0 30px;
    font-size: 1.14rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #2b2b2b;
    white-space: nowrap;
    flex-shrink: 0;
}

.services .service-head h2 {
    font-size: 2.48rem;
    font-weight: 600;
    line-height: 1.1809045453;
    color: #0b090a;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 60px;
}

.services .service-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
    padding: 0 100px;
}

.services .service-body .sbody {
    box-sizing: border-box;
    padding: 60px 0;
    width: 370px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.0299999993);
    background-color: #ffffff;
    border-radius: 3rem;
    flex-shrink: 0;
    text-align: center;
}

.services .service-body .sbody .service-icon-bg {
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    box-shadow: 0.4rem 1rem 3rem rgba(67, 97, 238, 0.400000006);
    background-color: #4361ee;
    border-radius: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .service-body .sbody .title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #2b2b2b;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.services .service-body .sbody .content {
    max-width: 13.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
    flex-shrink: 0;
}

.services .service-body .sbody img {
    width: 40px;
}


/* Locations */
.locations {
    position: absolute;
    top: 470%;
    left: 8.1%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.locations .first-ball {
    width: 60px;
    margin-left: 50%;
}

.locations .second-ball {
    width: 120px;
    margin-top: 45px;
    margin-left: 84%;
}

.locations .header p {
    margin-top: 100px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #4361ee;
    white-space: nowrap;
}

.locations .header h2 {
    margin-bottom: 10px;
    margin-top: 15px;
    max-width: 36rem;
    font-size: 2.58rem;
    font-weight: 600;
    line-height: 1.1809045453;
    color: #2b2b2b;
}

.locations .cities {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.locations .cities .top-cities {
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.locations .cities .top-cities .top-city {
    width: 310px;
    height: 320px;
    position: relative;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.0599999987);
    background-color: #ffffff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6000000238) -0%, rgba(0, 0, 0, 0.6000000238) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    flex-shrink: 0;
}

.locations .cities .top-cities .city-1 {
    background-image: url(../assets/rectangle-17-bg.png);
}

.locations .cities .top-cities .city-2 {
    background-image: url(../assets/rectangle-25-bg.png);
}

.locations .cities .top-cities .city-3 {
    width: 500px;
    height: 320px;
    background-image: url(../assets/rectangle-26-bg.png);
}

.locations .cities .bottom-cities {
    display: flex;
    gap: 40px;
}

.locations .cities .bottom-cities .city-4 {
    width: 410px;
    height: 320px;
    position: relative;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.0599999987);
    background-color: #ffffff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6000000238) -0%, rgba(0, 0, 0, 0.6000000238) 100%);
    background-image: url(../assets/rectangle-27-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    flex-shrink: 0;
}

.locations .cities .bottom-cities .city-5 {
    width: 750px;
    height: 320px;
    position: relative;
    box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.0599999987);
    background-color: #ffffff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6000000238) -0%, rgba(0, 0, 0, 0.6000000238) 100%);
    background-image: url(../assets/rectangle-28-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    flex-shrink: 0;
}

.locations .cities .city-update {
    color: white;
    margin-top: 200px;
    margin-left: 20px;
    z-index: 1000000;
}

.locations .cities .city-update .number {
    font-size: 3.73rem;
    font-weight: 600;
    line-height: 1.1343804689;
}

.locations .cities .city-update .city-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}