/* font-family: "Poppins", sans-serif;
font-family: "Source Code Pro", monospace; */

html {
    font-family: Poppins, 'Source Sans Pro';
}

* {
  margin: 0;
  padding: 0; 
}

ul, li {
  list-style: none; 
}

a {
    text-decoration: none;
}

input {
  border: none; 
}

nav {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 1rem;
}

.links a {
    padding: 0 10px;
    color: #0b090a;
}

nav .logo img {
    width: 90px;
}


/* Register/Login & Add listing Section*/
.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.account .login button img {
    margin-right: 5px;
    width: 17px;
}

.account .login button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.account .add-list {
    background-color: #3a0ba3;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.account .add-btn .text {
    flex: 1;
}

.account .add-list img {
    margin-right: 8px;
    width: 18px;
}

/* Display */
.display-1 {
    width: 90rem;
    height: 55.2rem;
    position: absolute;
    left: 0;
    top: 9%;
    background: linear-gradient(180deg, rgba(76, 201, 240, 0.3000000119) -0%, rgba(67, 97, 238, 0.3000000119) 100%);
    border-radius: 0 0 80rem 80rem;
}

.show {
    position: absolute;
    top: 7%;
    left: 8.1%;
}

.display-1 .show .head-1 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.291rem;
    color: #4361ee;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    margin-bottom: 16px;
}

.display-1 .show h1 {
    max-width: 550px;
    font-size: 3.50rem;
    font-weight: 600;
    line-height: 1.1343804689;
    color: #0b090a;
    margin-bottom: 16px;
}

.display-1 .show h4 {
    max-width: 540px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.625;
    color: #808080;
    margin-bottom: 5px;
}

.display-1 .show .display-img {
    width: 550px;
    border-radius: 20px;
}

.display-1 .show .icon-left {
    position: absolute;
    right: -5%;
    top: 65%;
    width: 50px;
}

.display-1 .show .icon-right {
    position: absolute;
    left: -5%;
    top: 65%;
    width: 50px;
}

.display-1 .show .ellipse-9 {
    position: absolute;
    top: 33.5%;
    left: 90%;
    width: 90px;
    z-index: -1;
}

/* Search Form */
.search {
    position: absolute;
    right: 15%;
    top: 12.5%;
}

.search .form-container {
    background: white;
    border-radius: 20px;
    width: 130%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1)
}

.search .form-container .head-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 10px 15px;
    border: 1px solid gray;
    border-radius: 20px 20px 0 0;
}

.search .form-container .head-2 a {
    color: #808080;
}

.search .form-container h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.search .form-container form {
    box-sizing: border-box;
    padding: 50px 5px 93px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.search .form-container input, select {
    font-size: 1.1rem;
    width: 340px;
    height: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
}

.search .form-container .type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/polygon-1.png') no-repeat; 
    background-size: 20px;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search .form-container .rooms {
    appearance: none; /* Hide default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/polygon-1-8hZ.png') no-repeat;
    background-size: 20px;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.custom-select::-ms-expand {
    display: none; /* Hide default arrow icon for IE */
}

.search .form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  width: 320px;
  border: none;
  border-radius: 38px;
  color: white;
  background-color: #3a0ba3;
  font-size: 1.2rem;
  cursor: pointer;
}

.search .form-container button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}